.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    padding: 0 0.5rem;
    margin-bottom: 6rem;
    width: 100%;
}

.header a {
    color: var(--color-secondary-100);
    text-decoration: none;
}

.main-image {
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

.main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: translateY(2.5rem);
}