.goal-items__time {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: yellow;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(255, 238, 0, 0.5);
}

.goal-items__time-low {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: red;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(255, 0, 0, 0.5);
}