.goal-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    background-color: var(--color-primary);
    border-radius: 12px;
    box-shadow: 0 2px 12px var(--color-shadow);
    cursor: pointer;
}

.goal-items__title {
    padding: 0.8rem 0.8rem;
    font-weight: bold;
    color: var(--color-secondary-200);
}

.goal-items__category {
    margin-bottom: 1rem;
    color: var(--color-grey)
}