@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #230052;
  background-color: #fcfaee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #230052;
  --color-secondary-100: #f7e702;
  --color-secondary-200: #ffffbf;

  --color-card: #ecf7ff;
  --color-grey: #ccc;
  --color-shadow: #00000066;

  --color-positive: #015501;

  --color-negative-primary: #b70000;
  --color-negative-secondary: #fbdada;

}

body {
  margin: 0;
  /* font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a6a38a80;
  color: #230052;
  line-height: 1.8rem; */
}