.achieved-goal-items {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0.8rem;
    background-color: var(--color-positive);
    border-radius: 12px;
    box-shadow: 0 2px 12px var(--color-shadow);
}

.achieved-goal-items__title {
    padding: 0.8rem 0.8rem;
    font-weight: bold;
    color: var(--color-secondary-200);
}

.achieved-goal-items__date {
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: var(--color-secondary-100);
    border-radius: 12px;
    box-shadow: 0 2px 12px var(--color-shadow);
}