.achieved-goal-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0.8rem;
    background-color: green;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(13, 255, 0, 0.526);
}

.achieved-goal-items__title {
    padding: 0.5rem 0.5rem;
    color: white;
}

.achieved-goal-items__date {
    padding: 0.5rem 1.5rem;
    background-color: yellow;
    border-radius: 12px;
}