.button {
    font: inherit;
    cursor: pointer;
    border-radius: 12px;
    padding: 1rem;
    border: 2px solid var(--color-secondary-100);
    background: var(--color-secondary-100);
}

.button:hover,
.button:active {
    background: var(--color-secondary-200);
    border-color: var(--color-primary);
}

.button:focus {
    outline: none;
}