.button {
    font: inherit;
    cursor: pointer;
    border-radius: 12px;
    padding: 1rem;
    border: 2px solid #f7e702;
    background: #f7e702;
}

.button:hover,
.button:active {
    background: rgb(255, 255, 191);
    border-color: #230052;
}

.button:focus {
    outline: none;
}